
.Contacto form{
  padding: 10px;
  background-color: #ededed;
  margin-top: 20px;
}

h2 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 61px;
    color: #fff;
    font-weight: lighter;
}

.tituloContactanos {
    color: black;
    font-family: var(--fuente-regular);
}

/* 28/09/2023 */

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
  }
  form {
    background-color: #f5f5f5;
    border: 0;
    padding: 20px;
    border-radius: 10px;
    font-family: var(--fuente-regular);
  }
  .select-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-family: var(--fuente-regular);
  }
  
  input, select, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-family: var(--fuente-regular);
  }
  
  input {
    width: 18rem;
  }
  
  select {
    width: 18rem; 
  }
  
  .botones {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;  
    font-family: var(--fuente-regular);  
  }

  button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: #bcbfc2;
    color: #fff;
    border: none;
    cursor: pointer;
    width: auto;
    font-family: var(--fuente-regular);
  }
  button:hover {
    background-color: #585f67;
  }
  span.error-message  {
    color: rgb(255, 102, 0); 
    font-size: 12px; 
    margin-top: 4px; 
  }
  .envioExito {
    color: rgb(255, 102, 0); 
  }
  .contenedorOficinas {
    max-width: 708px;
    margin: 0 auto;
    padding: 0 40px;
}
h5{
    font-family: "Playfair Display",Arial,Tahoma,sans-serif;
    width: auto;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.imgContacto {
    margin-bottom: 10px;
   
}

.content  .contenedorOficinas .conocer-mas {
  width: 100%;
  padding: 20px 20px;
  margin-bottom: 0px;
  
}



.content  .contenedorOficinas .conocer-mas article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.content .contenedorOficinas .conocer-mas .comparativo .logoNegro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  margin: 0;
  padding: 10px 0;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content .contenedorOficinas .conocer-mas .comparativo .logoNegro .imagen-logo img {
  height: 30px;
  max-width: 100%; 
}

.content .contenedorOficinas .conocer-mas .comparativo .logoNegro .imagen-logo img {
  max-width: 100%;
  height: 30px;
}

/* todavía no estan resueltos los tamaños pequeños!---------> terminar */
/* Estilos para pantallas pequeñas (máximo 420px de ancho) */
@media (max-width: 420px) {
  h2 {
    font-size: 36px; /* Reduzca el tamaño de fuente del encabezado */
  }

  .formContainer {
    text-align: left; /* Alinea el contenido del formulario a la izquierda */
  }

  .select-container, .inputContainer {
    margin-bottom: 10px; /* Aumenta el espacio entre controles */
  }

  input, select, button {
    padding: 8px; /* Reduzca el relleno de los controles */
    margin-bottom: 8px; /* Reduzca el espacio entre controles */
  }

  input, select {
    width: 100%; /* Ocupa todo el ancho disponible */
  }

  .botones {
    flex-direction: column; /* Apila los botones uno encima del otro */
  }

  button {
    margin: 5px 0; /* Aumenta el espacio entre botones */
  }

  .contenedorOficinas {
    max-width: 100%; /* Ocupa todo el ancho disponible */
    padding: 0 10px; /* Reduzca el espacio alrededor del contenido */
  }

  h5 {
    font-size: 18px; /* Reduzca el tamaño de fuente del subtítulo */
  }
  
  .content .contenedorOficinas .conocer-mas .comparativo .logoNegro .imagen-logo img {
    height: 20px; /* Reduzca el tamaño de la imagen del logo */
  }
}


/* Estilos para tamaños pequeños::: */
@media (min-width: 768px) {
 /*  .Finca .content .legado{
      max-width: 1440px;
      padding: 0 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .Finca .content .legado article{
      width: 40%;
  }
  .Finca .content .legado {
      font-size: 36px;
      line-height: 43px;
      letter-spacing: 1px;
      font-weight: 300;
      font-family: "Playfair Display",Arial,Tahoma,sans-serif;
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #cdcecf;
  } */
  
}