.Home img{
    border-radius: 10px;
    margin-top: 20px;
}
.Home .parallax-container{
    display: flex;
    justify-content: center;
    align-items: start;
}
.Home .parallax-container video{
    margin-top: 60px;
}
.Home .cards{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.Home .cards article{
    margin: 20px 0;
    text-align: center;
}
.Home .cards article p{
    letter-spacing: 1px;
    color: #161922;
    margin: 10px 0;
}
.Home .cards article p span{
    font-style: italic;
    font-weight: bold;
}
.Home .cards article small{
    letter-spacing: 1px;
    color: #626262;
}

/* Media query Tablets */
@media (min-width: 768px) {
    .Home .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .Home .cards article .descripcion{
        height: auto;
    }
    .Home .cards article{
        width: 22%; 
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media (max-width: 535px) {
    .Home .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; /* Cambiado a 'center' para centrar los elementos */
      align-items: flex-start;
    }
  
    .Home .cards article {
      width: 90%; /* Ancho ajustado para ocupar más espacio en pantallas pequeñas */
      margin-top: 15px; /* Reducido el margen superior */
      margin-bottom: 15px; /* Reducido el margen inferior */
    }
  
    .Home .cards article .descripcion {
      height: auto;
    }
  }

