
.Winemaker .datos .vines, .Winemaker .datos .vines-item{
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no quepan en una fila */
  justify-content: space-between; 
}

.Winemaker .datos .innovacion, .Winemaker .datos .wineMakerImage2 {
    width: 33%;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Winemaker .datos .innovacion, .Winemaker .datos .wineMakerImage2 img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

/* Se replican estilos para contenedor e items del contenedor grid "reverse" que se implementa para intercalar texto foto texto en pantallas pequeñas */
.Winemaker .datos .vines-grid-reverse .vines-item .innovacion, .Winemaker .datos .vines-grid-reverse .vines-item .wineMakerImage1{
    width: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Winemaker .datos .wineMakerImage1 {
    align-items: center;
    justify-content: center; 
}

.Winemaker .datos .wineMakerImage1 img {
    max-height: 700px
}


.Winemaker .datos .titular-principal{
    color: #787878;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 40px;
    padding: 40px 0;
    text-align: center;
    border-top: 1px solid var(--colorIcons);
    border-bottom: 1px solid var(--colorIcons);
    margin: 20px 0;
}
.Winemaker .datos article h3{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.Winemaker .datos .innovacion2 h3{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 15px;
    letter-spacing: 1px;
    padding: 0 20px;
}


.Winemaker .datos article p.drop-cap{
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;/* Espaciado de línea */
    margin-bottom: 20px; /* Espacio entre párrafos */
    /* Estilos de la letra inicial */
    overflow: hidden;
    text-align: justify;
}
.Winemaker .datos article p span.letraGrande{
    float: left;
    font-size: 72px; /* Tamaño de fuente de la letra inicial */
    margin-right: 8px; /* Espacio entre la letra inicial y el texto */
    line-height: 1; 
}
.Winemaker .datos article span.light{
    font-family: 'Montserrat', sans-serif;
    color: #626262;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: justify;
}

.Winemaker .datos .innovacion2 span.light{
    font-family: 'Montserrat', sans-serif;
    color: #626262;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: justify;
    padding: 0 20px;
}

.Winemaker h2.foot{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-align: center;
    color:black;
}
.Winemaker button{
    padding: 18px 33px;
    width: 100%;
    text-align: center;
    background-color: #b89351;
    color: #ffffff;
    border: none;
    font-size: 120%;
    line-height: 120%;
}

.bottomPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
}

/* Estilos para pantallas menores de 767px */
@media (max-width: 767px) {

/* A continuación se usa un GRID para lograr que en pantallas pequeñas se intercale texto-foto-texto (cambiando el orden de los componentes)*/
    .Winemaker .datos .vines-grid {
        display: grid;
        grid-template-columns: 1fr; /* Una sola columna */
        gap: 20px; /* Espacio entre elementos */
    }

    .Winemaker .datos .vines-grid-reverse .vines-item .innovacion, .Winemaker .datos .vines-grid-reverse .vines-item .wineMakerImage1{
        width: 50%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .Winemaker .datos .vines-grid-reverse .vines-item {
        flex-direction: column-reverse; /* Invertir el orden de los elementos */
    }

    
    .Winemaker .datos {
        padding: 20px 10px; /* Reducimos el padding en pantallas pequeñas */
        display: flex;
        flex-direction: column; /* Apilar secciones una encima de la otra */
        align-items: center; 
        text-align: center; 
    }

    .Winemaker .datos .innovacion,
    .Winemaker .datos .wineMakerImage1 {
        width: 100%; /* Ocupar todo el ancho disponible */
        max-width: 400px; /* Establecer un ancho máximo para evitar que el contenido sea demasiado ancho en pantallas grandes */
        padding: 0 5px;
    }

    .Winemaker .datos .vines-grid-reverse  .vines-item .innovacion, .Winemaker .datos .vines-grid-reverse .vines-item .wineMakerImage1{
        width: 100%;
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }


    .Winemaker .datos .innovacion, .Winemaker .datos .wineMakerImage1{
        width: 100%;
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }


    .Winemaker .datos .wineMakerImage1 img {
        max-width: 100%; /* Asegurar que las imágenes se ajusten al ancho del contenedor */
        height: auto;
       /*  margin-top: 450px; */
    }
    
    .Winemaker .datos .titular-principal {
        font-size: 30px; /* Reduce el tamaño del título */
    }

    .Winemaker .datos article h3 {
        font-size: 30px; /* Reduce el tamaño del subtítulo */
    }

    .Winemaker .datos article p.drop-cap {
        font-size: 14px; 
        line-height: 22px; 
        margin-bottom: 15px; 
    }
    .bottomPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 5px;
    }
    
}

@media (max-width: 535px) {
    
    .Winemaker .datos .vines-item {
  
        display: flex;
    flex-direction: row; 
    align-items: flex-start;
    margin: 20px 20; 
    }
  
    .Winemaker .datos .vines-grid-reverse .vines-item .innovacion,
    .Winemaker .datos .vines-grid-reverse .vines-item .wineMakerImage1 {
      width: 100%; /* Ocupa todo el ancho disponible */
      padding: 0; /* Elimina el relleno horizontal */
      margin: 0; /* Elimina los márgenes */
      max-height: none;
    }

    .Winemaker .datos .vines-grid-reverse .vines-item .innovacion {
      margin-bottom: 20px; 
    }
  
    .Winemaker .datos .innovacion2 span.light{
        font-family: 'Montserrat', sans-serif;
        color: #626262;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: justify;
        padding: 0px;
    }

    .Winemaker .datos .wineMakerImage1 img {
        max-width: 100%; 
        height: auto;
        /* margin-top: 450px; */
    }
    
    .Winemaker .datos .innovacion, .Winemaker .datos .wineMakerImage2 {
        width: calc(33.33% - 10px); 
        padding: 5px 10px;
        
    }

  }
  






